
@media (max-width: 767px){

    .mobile-main-menu{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 70vh;
    }
    .menu-main-container{
        height: 56%;
    }
}
.menu-main-container{
    background-color: #F5E3C5;
    aspect-ratio: 0.68;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    max-height: 95%;
    display: flex;
    flex-direction: column;
}
.menu{
    width: 90%;
    height: 90%;
    background-image: url("/assets/images/menu.jpg");
    background-repeat:no-repeat;
    background-size: contain;
    background-position: center;
}
@media (min-width: 767px){

    .menu-main-container{
        position:  fixed;
        display: none;
        right: 10%;
        bottom: -130%;
        width: 35%;
    }

}